# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Executable files without extension in learn-c-the-hard-way directory
learn-c-the-hard-way/*
!learn-c-the-hard-way/*.*

# Jupyter Notebook
*.ipynb
*.ipynb_checkpoints

# vim session files
*s.vim
